<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex;">
    <div>
        <h2>add an author</h2>
        <form action="/addauthor" method="POST">
            {% csrf_token %}
            <label for="faname">First Name</label>
            <input type="text" id="fname" name="fname">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname">
            <button type="submit">Add</button>
            <a href="/addbook">add a book</a>

        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}} {{author.last_name}} </td>
                    <td><a href="/author/{{author.id}}">view</a></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>